<!-- <ul>
  <li>
    <h2>
      <a
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Home
      </a>
    </h2>
  </li>
  <li>
    <h2>
      <a
        routerLink="/login"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Login
      </a>
    </h2>
  </li>
  <li>
    <h2>
      <a
        routerLink="/adicionar-produto"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Adicionar Produto
      </a>
    </h2>
  </li>
  <li>
    <h2>
      <a
        routerLink="/listar-produto"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Listar Produto
      </a>
    </h2>
  </li>
</ul> -->

<router-outlet></router-outlet>
